h4{
    text-align: center;
}

.rowvalues{
    text-align: center;
}

/* .row{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0.2px solid rgb(153, 236, 236);
    border-bottom: 0.2px solid rgb(233, 230, 230);
    margin-left: 10px;
    margin-right: 10px;
   
} */
#Data-Row{
padding-top:10px;
padding-bottom: 10px;
border-top: 0.2px solid rgb(233,230,230);
border-bottom:0.2px solid rgb(233,230,230);
padding-right:10px ;
padding-left: 10px;
}

#Data-Row:hover{
    background-color: rgb(236, 252, 248);
}