.notificationrow{
    text-align: center;
    font-size: medium;
     padding: 10px 0 10px 0;
  
   
}
.notification_table_header{
    text-align: center;
    font-size: larger;
   padding: 15px 0 15px 0;
}
#notification_table{
 margin: 10px 0 0 0 ;
}
.notificationrow:hover{
  
    color: Azure;
    border-radius: 10px;
    background-color:rgb(98, 190, 167); ;
    padding: 10px 0 10px 0;
    cursor: pointer;
} 