body{
  background-color:rgb(98, 190, 167);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-div
{
  margin-top: 20px;
  padding-top:20px;
  padding-bottom:20px;
}

.Welcome-div{
 
  margin:15rem auto auto auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.Welcome-div h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav-div{
   margin-bottom: 100px;
}
.profile-details-labels{
  margin-top: 40px;
}
.profile-details-labels h4
{
  text-align: left;
}
.profile-details-values{
  margin-top: 40px;
}
.profile-details-values h4
{
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Parent-table-top{
  text-align: center;
  font-size: larger;
 padding: 15px 0 15px 0;
}
#Parent-table-body
{
  text-align: center;
  font-size: medium;

 padding: 10px 0 10px 0;

}
#Parent-table-body:hover
{
  color: Azure;
  border-radius: 10px;
  background-color:rgb(98, 190, 167); ;
  padding: 10px 0 10px 0;
  cursor: pointer;
}